# Pycharm
.idea/

# VSCode
.vscode

# Django
*.sqlite
avatars/

# MacOs
.DS_Store

# Evironment
.env

# React
node_modules/

# Unit test / coverage reports
.coverage

# Byte-compiled / optimized / DLL files
__pycache__/

# Expo
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# Redis
dump.rdb
